.main-div{

width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(238,1,112,1) 100%, rgba(0,212,255,1) 100%);

}
.login-div{
  background-color: white;
  width: 30%;
  height: 50%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;

}
.login-credentials{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
.login-credentials input{
  width:270px;
  height: 50px;
  align-self: center;
  background-color: rgb(221, 221, 221);
  border-style: none;
  border-radius: 5px;
  text-align: center;
}
.login-credentials button{
  width:150px;
  height: 35px;
  align-self: center;
  border-style: none;
  background-color: black;
  color: white;
  border-radius: 5px;

}
.login-credentials button:hover{
  background-color: rgb(58, 58, 58);
}